body,
html {
  height: 100%;
  width: 100%;
  background: rgb(28, 28, 59);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.login {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 30%;
  background: rgb(77, 79, 192);
  border: 1px solid transparent;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  display: none;
}

.login-header {
  margin-top: 20%;
  height: 10%;
  text-align: center;
  color: white;
}

#login-input {
  height: 10%;
  margin-left: 10%;
  width: 80%;
  text-align: center;
}

#login-button {
  margin-top: 10%;
  height: 10%;
  margin-left: 10%;
  width: 80%;
}

.main {
  height: 96%;
  width: 96%;
  margin: 2%;
  background: rgb(63, 63, 124);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.l-panel {
  background: rgb(36, 36, 71);
  height: 98%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.contacts-panel {
  background: rgb(65, 65, 129);
  height: 60%;
  width: 94%;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 1px solid rgb(121, 101, 238);
  border-radius: 12px;
}

.contact-avatar {
  background: rgb(146, 146, 148);
  height: 98%;
  width: 30%;
  border-radius: 50%;
}

.contact-name {
  background: rgb(148, 148, 148);
  height: 98%;
  width: 50%;
}

.settings-panel {
  background: rgb(65, 65, 129);
  height: 30%;
  width: 94%;
}

.r-panel {
  background: rgb(36, 36, 71);
  height: 98%;
  width: 76%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.news-panel {
  background: rgb(65, 65, 129);
  height: 50%;
  width: 94%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.news-img {
  background: rgb(77, 77, 153);
  height: 70%;
  width: 94%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-img-img {
  height: 90%;
}

.news-title {
  background: rgb(77, 77, 153);
  height: 15%;
  width: 94%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-info {
  background: rgb(77, 77, 153);
  height: 5%;
  width: 94%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comments-panel {
  background: rgb(65, 65, 129);
  height: 30%;
  width: 94%;
  overflow: auto;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; */
}

.comment {
  background: rgb(29, 29, 59);
  width: 94%;
  height: 20%;
  min-height: 20%;
  margin-top: 5%;
  margin-left: 3%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.comment-user-name {
  background: rgb(59, 59, 102);
  width: 20%;
}

.comment-user-content {
  background: rgb(59, 59, 102);
  width: 76%;
}

.message-panel {
  background: rgb(65, 65, 129);
  height: 16%;
  width: 94%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#message-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.message-input {
  background: rgb(47, 47, 95);
  height: 94%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#message-input-comments {
  height: 96%;
  width: 98%;
  background: transparent;
  border: 1px solid rgb(115, 100, 255);
  border-radius: 11px;
  color: white;
}

.message-action {
  background: rgb(47, 47, 95);
  height: 94%;
  width: 14%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#send-comments {
  height: 96%;
  width: 96%;
  background: rgb(66, 66, 153);
  color: white;
  border: 1px solid transparent;
  border-radius: 11px;
}
