body,
html {
  height: 100%;
  width: 100%;
  background: rgb(28, 28, 59);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.login {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 30%;
  background: rgb(77, 79, 192);
  border: 1px solid transparent;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  display: none;
}

.login-header {
  margin-top: 20%;
  height: 10%;
  text-align: center;
  color: white;
}

#login-input {
  height: 10%;
  margin-left: 10%;
  width: 80%;
  text-align: center;
}

#login-button {
  margin-top: 10%;
  height: 10%;
  margin-left: 10%;
  width: 80%;
}

.main {
  height: 96%;
  width: 96%;
  margin: 2%;
  background: rgb(37, 37, 73);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 1px solid transparent;
  border-radius: 12px;
}

.l-panel {
  background: transparent;
  height: 98%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.contacts-panel {
  background: rgb(46, 46, 88);
  height: 60%;
  width: 94%;
  border: 1px solid rgb(114, 70, 209);
  border-radius: 12px;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 1px solid rgb(121, 101, 238);
  border-radius: 12px;
  margin-top: 20px;
  margin-left: 5%;
  width: 90%;
}

.contact-avatar {
  height: 98%;
  width: 30%;
  border-radius: 50%;
}

.contact-name {
  background: transparent;
  height: 98%;
  width: 50%;
  color: white;
}

.settings-panel {
  background: rgb(46, 46, 88);
  height: 30%;
  width: 94%;
  border: 1px solid transparent;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; 
}

.countdown-panel{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; 
  border: 1px solid rgb(108, 110, 228);
  border-radius: 12px;
  width: 96%;
  height: 30%;
  color: rgb(174, 182, 191)
}

.profile-panel{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; 
  border: 1px solid rgb(108, 110, 228);
  border-radius: 12px;
  width: 96%;
  height: 30%;
}

.profile-panel img{
  height: 30px;
  width: 30px;
}

#username{
  color: white;
  font-size: x-large;
}

.r-panel {
  background: rgb(36, 36, 71);
  height: 98%;
  width: 76%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.news-panel {
  background: rgb(55, 55, 109);
  height: 50%;
  width: 94%;
  border: 1px solid rgb(57, 57, 116);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.news-img {
  background: transparent;
  height: 70%;
  width: 94%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 12px;
}

.news-img-img {
  height: 90%;
}

.news-title {
  background: rgb(77, 77, 153);
  height: 15%;
  width: 94%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 12px;
  font-size: x-large;
}

.news-info {
  background: rgb(77, 77, 153);
  height: 5%;
  width: 94%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 12px;
}

.comments-panel {
  background: rgb(51, 51, 102);
  height: 30%;
  width: 94%;
  border: 1px solid transparent;
  border-radius: 12px;
  overflow: auto;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; */
}

.comment {
  background: rgb(32, 32, 66);
  width: 94%;
  height: 20%;
  min-height: 20%;
  margin-top: 1%;
  margin-left: 3%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 1px solid transparent;
  border-radius: 12px;
  color: white;
}

.comment-user-name {
  background: transparent;
  width: 20%;
}

.comment-user-content {
  background: transparent;
  width: 76%;
  border: 1px solid transparent;
  border-radius: 12px;
}

.message-panel {
  background: rgb(44, 44, 86);
  height: 16%;
  width: 94%;
  border: 1px solid transparent;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#message-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.message-input {
  background: transparent;
  height: 94%;
  width: 80%;
  border: 1px solid transparent;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#message-input-comments {
  height: 96%;
  width: 98%;
  background: transparent;
  border: 1px solid rgb(115, 100, 255);
  border-radius: 11px;
  color: white;
}

.message-action {
  background: transparent;
  height: 94%;
  width: 14%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#send-comments {
  height: 96%;
  width: 96%;
  background: rgb(38, 38, 86);
  color: white;
  border: 1px solid rgb(101, 103, 231);
  border-radius: 11px;
}
