<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script
      type="module"
      src="{{ url_for('static',filename='js/index.js') }}"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/index.css') }}"
    />
  </head>
  <body>
    <div id="login" class="login">
      <div class="login-header">Set your username</div>
      <input id="login-input" type="text" />
      <button id="login-button">Connect</button>
    </div>
    <div class="main">
      <div class="l-panel">
        <div class="contacts-panel">
          <div class="contact">
            <img
              class="contact-avatar"
              src="{{ url_for('static',filename='img/avatar.png') }}"
              alt="avatar"
            />
            <div class="contact-name">user-1</div>
          </div>
        </div>
        <div class="settings-panel"></div>
      </div>
      <div class="r-panel">
        <div class="news-panel">
          <div class="news-img">
            <img
              class="news-img-img"
              src="{{ url_for('static',filename='img/news.png') }}"
              alt="news"
            />
          </div>
          <div class="news-title">
            Electric car chargepoints to overtake fuel pumps
          </div>
          <div class="news-info">From BBC News</div>
        </div>
        <div class="comments-panel">
          <div class="comment">
            <div class="comment-user-name">user-1</div>
            <div class="comment-user-content">Good content!</div>
          </div>
        </div>
        <div class="message-panel">
          <form id="message-form">
            <div class="message-input">
              <textarea id="message-input-comments" rows="4" cols="50">
                Write your comments here
                </textarea
              >
            </div>
            <div class="message-action">
              <input type="submit" id="send-comments" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
